@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    background-color: #e8e2e3;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    display: grid;
    grid-column-gap: 100px;
    font-size: 24px;
    align-items: flex-end;
}

.navbar>* {
    grid-row: 1;
}

.navbar-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.banner-wrapper {
    padding-bottom: 450px;
}

.hero-banner {
    margin-top: 212px;
    padding: 20px;
    position: relative;
}

@media (min-width: 600px) {
    .navbar-wrapper {
        gap: 122px;
        margin-top: 20px;
    }

    .hero-banner {
        margin-top: 70px;
    }

    .background-text {
        display: none;
    }

    .search-wrapper h1 {
        font-size: 30px;
    }

    .search-field {
        width: 350px
    }
}

@media (min-width: 900px) {
    .navbar-wrapper {
        gap: 48px;
        margin-top: 32px;
    }

    .background-text {
        display: block;
    }
}

.default-button {
    display: inline-flex;
    background-color: #06d6a0;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.default-button:hover {
    background-color: #04bf8f;
}

.default-button:active {
    background-color: #039c74;
}

.button-text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #ececec;
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    color: #465362;
    height: 100%;
}

.hero-banner-img {
    position: absolute;
    right: 40px;
    width: 700px;
    height: 900px;
    margin-top: -388px;

}

.background-text {
    font-weight: 600;
    color: #ff2625;
    opacity: 0.1;
    font-size: 200px;
    float: left;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    margin-top: 37px;
    justify-content: center;
    padding: 20px;
    background-color: #dddadb;
}

.search-wrapper h1 {
    text-align: center;
    font-weight: 700;
    font-size: 44px;
}

.search-field {
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    font-weight: 700;
    border: none;
    width: 1000px;
    margin-left: 12vw;
}

.horizontal-scrollbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bodypart {
    width: 200px;
    height: 200px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;
}

.bodypart h1 {
    font-weight: bold;
    font-size: 24px;
    color: #3a1212;
    text-transform: capitalize;
}

.exercise-card:hover,
.bodypart:hover {
    transform: scale(1.1, 1.1);
}

.right-arrow,
.left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: #FF2625;
    font-size: 25px;
    border-radius: 4px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

#exercises {
    padding: 20px;
    margin-top: 50px;
}

.exercises-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: '110px';
}